.orderpreview-products-previews {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  margin-top: 10px;
}

.orderpreview-products-preview {
  height: 30px;
  width: 30px;

  object-fit: cover;

  border-radius: 3px;
}
